<!-- Each subpage borrows from the course bsg example code -->
<html>
<head>
<title>Mesozoic Island</title>
<link rel="stylesheet" href="../app.css">
</head>

<body>
<h1>Welcome to Mesozoic Island!</h1>
<nav>
	<a href="/species/">Species</a>
	<a href="/dinosaurs/">Dinosaurs</a>
	<a href="/exhibits/">Exhibits</a>
	<a href="/employees/">Employees and Volunteers</a>
	<a href="/shifts/">View Shifts</a>
</nav>
</body>
</html>
