<!-- Each subpage borrows from the course bsg example code -->
<html>
<head>
<title>Mesozoic Island</title>
</head>

<body>
<h1>Welcome to Mesozoic Island!</h1>
<h2>Index</h2>
<ul>
	<li><a href="/species/">Species</a></li>
	<li><a href="/individuals/">Individuals</a></li>
	<li><a href="/exhibits/">Exhibits</a></li>
	<li><a href="/employees/">Employees and Volunteers</a></li>
	<li><a href="/shifts/">View Shifts</a></li>
</ul>
</body>
</html>
