<!-- Each subpage borrows from the course bsg example code -->
<html>
<head>
<title>Mesozoic Island</title>
</head>

<body>
<h1>Welcome to Mesozoic Island!</h1>
<h2>Index</h2>
<ul>
	<li><a href="species.hbs">Species</a></li>
	<li><a href="individuals.html">Individuals</a></li>
	<li><a href="exhibits.html">Exhibits</a></li>
	<li><a href="employees.html">Employees and Volunteers</a></li>
	<li><a href="shifts.html">View Shifts</a></li>
</ul>
</body>
</html>
