@import url('https://fonts.cdnfonts.com/css/jurassic-park');
@import url('https://fonts.cdnfonts.com/css/mukta-malar');

body {
    background-color: #296b2a;
    text-align: center;
    color: #dbfaac
}

h1 {
    font-family: 'Jurassic Park', sans-serif;
    letter-spacing: 6px;
    font-size: 6em;
    border-bottom: solid;
    border-color: rgb(120, 29, 24);
}

h2 {
    font-family: 'Mukta Malar', sans-serif;
    font-size: 3em;
    position: relative;
    bottom: 90px;
}

table {
    position: relative;
    bottom: 10pt;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px #FAFAF0;
}

th {
    margin: 50%;
    background-color: rgb(103, 85, 56);
    color: rgb(217, 188, 180);
}

td {
    padding: 12px 15px;
    color: rgb(229, 117, 108);
    border-top: 1pt dashed;
    border-bottom: 1pt dashed;
}

nav {
    margin: 1%;
    margin-top: 0%;
    padding: 1%;
    display: inline;
    position: relative;
    bottom: 9px;
}

nav a {
    padding: 0px 20px 5px 20px;
    background-color: rgb(120, 29, 24);
    color: white;
    line-height: 1;
    vertical-align: middle;
    border-right: 2px solid #FAFAF0;
    font-weight: bold;
    border-radius: 3px;
}

nav a:hover {
    color: rgb(120, 29, 24);
    background-color: yellow;
}

legend {
    font-size: 2em;
}

form {
    top:auto;
    bottom: auto;
}

input[type=button] {
    background-color: rgb(120, 29, 24);
    color: white;
    border-color: #dbfaac;
    padding: 5px 5px 5px 5px;
    margin-top: 5pt;
}

input[type=submit] {
    background-color: rgb(120, 29, 24);
    color: white;
    border-color: #dbfaac;
    padding: 5px 5px 5px 5px;
    margin-top: 5pt;
}
